# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Julia
    4. SQL
    5. Java

Some of the commonly used libraries used by Data Scientists include:

    1. Numpy
    2. Matplotlib
    3. PyTorch
    4. Tensorflow
    5. Scikit-Learn

| Data Science Tools   |
|---------|
| VSCode |
| Jupyter Notebooks   |
| MySQL |
| Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 200 // 60

hours

3

**Objectives:**
* List popular languages for Data Science
* Create a code cell to convert minutes to hours
* Create a code cell to multiply and add numbers

## Author
Steven Davenport